{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}

